[Unit]
Description=Backup postgres cluster
Requires=pg_backup.service

[Timer]
Unit=pg_backup.service
OnUnitActiveSec=4h

[Install]
WantedBy=timers.target

