bin/

kubernetes/configs/

# Ansible galaxy
ansible/main/roles/artis3n.tailscale
ansible/main/roles/geerlingguy.docker
ansible/truenas/roles/ansible-restic
ansible/truenas/roles/ansible-rclone

# Terraform
.terraform
.terraform.tfstate*
terraform.tfstate*

# Sops
.decrypted~*
*.agekey
