bin/

kubernetes/apps/monitoring/speedtest_tracker.yaml
kubernetes/apps/monitoring/ingress.yaml
kubernetes/configs/

# Ansible galaxy
ansible/main/roles/artis3n.tailscale
ansible/main/roles/geerlingguy.docker

# Terraform
.terraform
.terraform.tfstate*
terraform.tfstate*

# Sops
.decrypted~*
*.agekey
