---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: speedtest-exporter
  namespace: monitoring
spec:
  interval: 1h
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-helm-charts
        namespace: flux-system
  values:
    controllers:
      speedtest-exporter:
        containers:
          app:
            image:
              repository: ghcr.io/adityathebe/speedtest-exporter
              tag: v1.0.1
            env:
              - name: LOG_LEVEL
                value: DEBUG
            resources:
              requests:
                cpu: 15m
                memory: 64M
              limits:
                memory: 64M

    service:
      app:
        controller: speedtest-exporter
        ports:
          http:
            port: 7777

    serviceMonitor:
      app:
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 2m
            scrapeTimeout: 1m
