---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: immich
  namespace: immich
spec:
  interval: 30m
  timeout: 10m
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-helm-charts
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      server:
        type: deployment
        replicas: 1
        annotations:
          reloader.stakater.com/auto: 'true'
        containers:
          app:
            image:
              # renovate: datasource=github-releases depName=immich-app/immich
              repository: ghcr.io/immich-app/immich-server
              tag: 'v2.3.1'
            env:
              TZ: ${TZ}
              IMMICH_MEDIA_LOCATION: /usr/src/app/upload
              REDIS_HOSTNAME: immich-valkey
              DB_HOSTNAME:
                valueFrom:
                  secretKeyRef:
                    name: immich-postgres
                    key: HOST
              DB_DATABASE_NAME:
                valueFrom:
                  secretKeyRef:
                    name: immich-postgres
                    key: DATABASE
              DB_USERNAME:
                valueFrom:
                  secretKeyRef:
                    name: immich-postgres
                    key: USER
              DB_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: immich-postgres
                    key: PASSWORD
            resources:
              requests:
                cpu: 250m
                memory: 1000Mi
              limits:
                memory: 4000Mi
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/server/ping
                    port: 2283
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes

      valkey:
        type: deployment
        replicas: 1
        containers:
          app:
            image:
              repository: docker.io/valkey/valkey
              tag: 9.0
            resources:
              requests:
                cpu: 20m
                memory: 64Mi
              limits:
                memory: 512Mi

    service:
      server:
        controller: server
        ports:
          http:
            port: 2283
      valkey:
        controller: valkey
        ports:
          redis:
            port: 6379

    ingress:
      main:
        className: nginx
        annotations:
          nginx.ingress.kubernetes.io/proxy-body-size: '50000M'
          nginx.ingress.kubernetes.io/proxy-read-timeout: '3600'
          nginx.ingress.kubernetes.io/proxy-send-timeout: '3600'
        hosts:
          - host: photos.${HOMELAB_DOMAIN}
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: server
                  port: http

    persistence:
      library:
        existingClaim: immich
        globalMounts:
          - path: /usr/src/app/upload
      gopro:
        existingClaim: immich-gopro
        globalMounts:
          - path: /mnt/external/gopro
            readOnly: true
      libraries:
        existingClaim: immich-libraries
        globalMounts:
          - path: /mnt/external/libraries
            readOnly: true
