---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: navidrome
  namespace: music
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-helm-charts
        namespace: flux-system
      interval: 15m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      main:
        annotations:
          reloader.stakater.com/auto: 'true'

        containers:
          navidrome:
            image:
              repository: deluan/navidrome
              tag: 0.58.5

            envFrom:
              - secretRef:
                  name: navidrome
              - configMapRef:
                  name: navidrome

            env:
              TZ: ${TZ}

            resources:
              requests:
                cpu: 50m
                memory: 256Mi
              limits:
                memory: 300Mi

            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5

    service:
      main:
        controller: main
        ports:
          http:
            port: 4533

    ingress:
      main:
        enabled: true
        className: 'nginx'
        hosts:
          - host: navidrome.${HOMELAB_DOMAIN}
            paths:
              - path: /
                service:
                  identifier: main
                  port: http

    persistence:
      music:
        enabled: true
        type: nfs
        server: 10.99.99.51
        path: /mnt/mega/aditya/music
        globalMounts:
          - path: /music
            readOnly: true

      data:
        enabled: true
        existingClaim: navidrome-data
        advancedMounts:
          main:
            navidrome:
              - path: /data
