---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: restic-exporter
spec:
  interval: 1h
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-helm-charts
        namespace: flux-system
  values:
    controllers:
      restic-exporter:
        containers:
          app:
            image:
              repository: ghcr.io/adityathebe/restic-exporter
              tag: v1.0.6
            envFrom:
              - secretRef:
                  name: restic-exporter
            env:
              - name: REFRESH_INTERVAL
                value: '3600' # 1 hour
              - name: INCLUDE_PATHS
                value: 'true'
              - name: NO_LOCKS
                value: 'true'
              - name: INCLUDE_CLIENTS
                value: truenas
              - name: LOG_LEVEL
                value: DEBUG
            resources:
              requests:
                cpu: 10m
                memory: 256Mi
              limits:
                memory: 512Mi

    service:
      app:
        controller: restic-exporter
        ports:
          http:
            port: 8001

    serviceMonitor:
      app:
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 15s
