---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app silverbullet
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 4.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-helm-charts
        namespace: flux-system
      interval: 15m
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      main:
        strategy: Recreate
        containers:
          silverbullet:
            image:
              repository: docker.io/zefhemel/silverbullet
              tag: '2.2.1'
            envFrom:
              - secretRef:
                  name: *app
            resources:
              requests:
                cpu: 100m
                memory: 400Mi
              limits:
                memory: 850Mi

    service:
      main:
        controller: main
        ports:
          http:
            port: 3000

    ingress:
      main:
        enabled: true
        className: nginx
        hosts:
          - host: 'notes.${HOMELAB_DOMAIN}'
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: main
                  port: http

    persistence:
      space:
        enabled: true
        existingClaim: silverbullet-space
        globalMounts:
          - path: /space
