---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: nginx-ingress
  namespace: nginx-ingress
spec:
  interval: 30m
  chart:
    spec:
      chart: ingress-nginx
      version: 4.14.0
      sourceRef:
        kind: HelmRepository
        name: ingress-nginx
        namespace: flux-system
      interval: 30m
  values:
    controller:
      config:
        block-user-agents: 'AdsBot-Google,Amazonbot,anthropic-ai,Applebot-Extended,Bytespider,CCBot,ChatGPT-User,ClaudeBot,Claude-Web,cohere-ai,Diffbot,FacebookBot,FriendlyCrawler,Google-Extended,GoogleOther,GPTBot,img2dataset,omgili,omgilibot,peer39_crawler,peer39_crawler/1.0,PerplexityBot,YouBot,' # taken from https://github.com/ai-robots-txt/ai.robots.txt

        client-body-buffer-size: '100M'
        client-body-timeout: 120
        client-header-timeout: 120
        enable-brotli: 'true'
        enable-real-ip: 'true'
        ssl-protocols: 'TLSv1.3 TLSv1.2'

        compute-full-forwarded-for: 'true'
        use-forwarded-headers: 'true'
        proxy-body-size: 0

      ingressClassResource:
        default: true

      replicaCount: 2

      resources:
        requests:
          cpu: 100m
          memory: 256Mi
        limits:
          memory: 512Mi

      metrics:
        enabled: true
        serviceMonitor:
          enabled: true
          namespace: nginx-ingress
          namespaceSelector:
            any: true

      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: topology.kubernetes.io/zone
          whenUnsatisfiable: ScheduleAnyway 
          labelSelector:
            matchLabels:
              app.kubernetes.io/name: ingress-nginx
              app.kubernetes.io/component: controller
              app.kubernetes.io/instance: nginx-ingress

      extraArgs:
        default-ssl-certificate: 'nginx-ingress/homelab-tls-cert'
