global:
  resolve_timeout: 5m

route:
  group_by: ['alertname', 'job']
  group_wait: 45s
  group_interval: 10m
  repeat_interval: 12h
  receiver: 'discord'
  routes:
    - receiver: 'null'
      matchers:
        - alertname = "Watchdog"
    - receiver: 'discord'

receivers:
  - name: 'null'
  - name: 'discord'
    webhook_configs:
      - url: ${DISCORD_WEBHOOK_URL}
        send_resolved: true
  - name: 'pushover'
    pushover_configs:
      - user_key: ${PUSHOVER_USER_KEY}
        token: ${PUSHOVER_APP_TOKEN}
        priority: '{{ if eq .Status "firing" }}0{{ else }}-1{{ end }}'
        # How long your notification will continue to be retried for, unless the user
        # acknowledges the notification.
        expire: 5m
