---
- name: Setup Media NFS Server
  hosts: media
  become: true
  serial: 1

  vars:
    user_name: player

  roles:
    - ubuntu

  tasks:
    - name: Create media directories
      file:
        path: '{{ item }}'
        state: directory
        owner: '{{ user_name }}'
        group: '{{ user_name }}'
        mode: '0755'
      loop:
        - /srv/media
        - /srv/media/torrent-downloads
        - /srv/media/movies
        - /srv/media/shows

    - name: Setup nfs server
      include_role:
        name: geerlingguy.nfs
      vars:
        nfs_exports:
          # Map all nfs access as user:group (player:player)
          - /srv/media *(rw,async,no_subtree_check,fsid=0,insecure,all_squash,anonuid=1000,anongid=1000)
